button {
    position:absolute;
    left: 90%;
    width:max-content;
    height:1.5rem;
    border-radius:1rem;
    border-color: none;
}
.dark_mode{
    background-color: #fcf8ff;
    color:  black;
    
}
.dark_mode:hover{
    background-color: #eff8ef;
    box-shadow: 0 0 10px #1c181f;
}

.light_mode{
    background-color: #333;
    color: white;
}
body.dark-mode{
    background-color: rgba(0,0,123,0.3);
    color: white;
}